<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cidp.pm.mapper.ProjectListMapper">

    <resultMap type="projectList" id="projectListResult">
        <result property="projectId"    column="ProjectId"    />
        <result property="categoryCode"    column="CategoryCode"    />
        <result property="projectCode"    column="ProjectCode"    />
        <result property="projectName"    column="ProjectName"    />
        <result property="projectYear"    column="ProjectYear"    />
        <result property="userCode"    column="UserCode"    />
        <result property="userName"    column="UserName"    />
        <result property="proxyOrgCode"    column="ProxyOrgCode"    />
        <result property="proxyOrgName"    column="ProxyOrgName"    />
        <result property="myOrgCode"    column="MyOrgCode"    />
        <result property="myOrgName"    column="MyOrgName"    />
        <result property="projectArear"    column="ProjectArear"    />
        <result property="moneyFrom"    column="MoneyFrom"    />
        <result property="projectPriority"    column="ProjectPriority"    />
        <result property="startDate"    column="StartDate"    />
        <result property="endDate"    column="EndDate"    />
        <result property="appTime"    column="AppTime"    />
        <result property="appAmount"    column="AppAmount"    />
        <result property="myAmount"    column="MyAmount"    />
        <result property="totalAmount"    column="TotalAmount"    />
        <result property="projectStatus"    column="ProjectStatus"    />
        <result property="projectSummary"    column="ProjectSummary"    />
        <result property="keyWords"    column="KeyWords"    />
        <result property="pdfPath"    column="PdfPath"    />
        <result property="centralAmount"    column="CentralAmount"    />
        <result property="localAmount"    column="LocalAmount"    />
        <result property="projecttype3"    column="ProjectType3"    />
        <result property="projecttype4"    column="ProjectType4"    />
        <result property="projecttype5"    column="ProjectType5"    />
    </resultMap>

    <sql id="selectprojectListVo">
        select ProjectId, CategoryCode, ProjectCode, ProjectName, ProjectYear, UserCode, UserName, ProxyOrgCode, ProxyOrgName, MyOrgCode, MyOrgName, ProjectArear, MoneyFrom, ProjectPriority, StartDate, EndDate, AppTime, AppAmount, MyAmount, TotalAmount, ProjectStatus, ProjectSummary, KeyWords, PdfPath, CentralAmount, LocalAmount, ProjectType3, ProjectType4, ProjectType5 from project
    </sql>

    <select id="selectprojectListList" parameterType="projectList" resultMap="projectListResult">
        <include refid="selectprojectListVo"/>
        <where>
            <if test="projectName != null  and projectName != ''"> and ProjectName like concat('%', #{projectName}, '%')</if>
            <if test="projectYear != null "> and ProjectYear = #{projectYear}</if>
            <if test="userName != null  and userName != ''"> and UserName like concat('%',#{userName},'%') </if>
            <if test="categoryCode != null  and categoryCode != ''"> and CategoryCode = #{categoryCode}</if>
            <if test="totalAmount != null  and totalAmount != ''"> and TotalAmount = #{totalAmount}</if>
            <if test="projectStatus != null  and projectStatus != ''"> and ProjectStatus = #{projectStatus}</if>
            <if test="projectArear != null  and projectArear != ''"> and ProjectArear = #{projectArear}</if>
            <if test="moneyFrom != null  and moneyFrom != ''"> and MoneyFrom = #{moneyFrom}</if>
            <if test="beginTime != null "><!-- 开始时间检索 -->
                AND date_format(AppTime,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null "><!-- 结束时间检索 -->
                AND date_format(AppTime,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectprojectListById" parameterType="Long" resultMap="projectListResult">
        <include refid="selectprojectListVo"/>
        where ProjectId = #{projectId}
    </select>

    <insert id="insertprojectList" parameterType="projectList" useGeneratedKeys="true" keyProperty="projectId" >
        insert into project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryCode != null">CategoryCode,</if>
            <if test="projectCode != null">ProjectCode,</if>
            <if test="projectName != null">ProjectName,</if>
            <if test="projectYear != null">ProjectYear,</if>
            <if test="userCode != null">UserCode,</if>
            <if test="userName != null">UserName,</if>
            <if test="proxyOrgCode != null">ProxyOrgCode,</if>
            <if test="proxyOrgName != null">ProxyOrgName,</if>
            <if test="myOrgCode != null">MyOrgCode,</if>
            <if test="myOrgName != null">MyOrgName,</if>
            <if test="projectArear != null">ProjectArear,</if>
            <if test="moneyFrom != null">MoneyFrom,</if>
            <if test="projectPriority != null">ProjectPriority,</if>
            <if test="startDate != null">StartDate,</if>
            <if test="endDate != null">EndDate,</if>
<!--            <if test="appTime != null">AppTime,</if>-->
            <if test="appAmount != null">AppAmount,</if>
            <if test="myAmount != null">MyAmount,</if>
            <if test="totalAmount != null">TotalAmount,</if>
            <if test="projectStatus != null">ProjectStatus,</if>
            <if test="projectSummary != null">ProjectSummary,</if>
            <if test="keyWords != null">KeyWords,</if>
            <if test="pdfPath != null">PdfPath,</if>
            <if test="centralAmount != null">CentralAmount,</if>
            <if test="localAmount != null">LocalAmount,</if>
            <if test="projecttype3 != null">ProjectType3,</if>
            <if test="projecttype4 != null">ProjectType4,</if>
            <if test="projecttype5 != null">ProjectType5,</if>
            appTime
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryCode != null">#{categoryCode},</if>
            <if test="projectCode != null">#{projectCode},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="projectYear != null">#{projectYear},</if>
            <if test="userCode != null">#{userCode},</if>
            <if test="userName != null">#{userName},</if>
            <if test="proxyOrgCode != null">#{proxyOrgCode},</if>
            <if test="proxyOrgName != null">#{proxyOrgName},</if>
            <if test="myOrgCode != null">#{myOrgCode},</if>
            <if test="myOrgName != null">#{myOrgName},</if>
            <if test="projectArear != null">#{projectArear},</if>
            <if test="moneyFrom != null">#{moneyFrom},</if>
            <if test="projectPriority != null">#{projectPriority},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
<!--            <if test="appTime != null">#{appTime},</if>-->
            <if test="appAmount != null">#{appAmount},</if>
            <if test="myAmount != null">#{myAmount},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="projectStatus != null">#{projectStatus},</if>
            <if test="projectSummary != null">#{projectSummary},</if>
            <if test="keyWords != null">#{keyWords},</if>
            <if test="pdfPath != null">#{pdfPath},</if>
            <if test="centralAmount != null">#{centralAmount},</if>
            <if test="localAmount != null">#{localAmount},</if>
            <if test="projecttype3 != null">#{projecttype3},</if>
            <if test="projecttype4 != null">#{projecttype4},</if>
            <if test="projecttype5 != null">#{projecttype5},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateprojectList" parameterType="projectList">
        update project
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryCode != null">CategoryCode = #{categoryCode},</if>
            <if test="projectCode != null">ProjectCode = #{projectCode},</if>
            <if test="projectName != null">ProjectName = #{projectName},</if>
            <if test="projectYear != null">ProjectYear = #{projectYear},</if>
            <if test="userCode != null">UserCode = #{userCode},</if>
            <if test="userName != null">UserName = #{userName},</if>
            <if test="proxyOrgCode != null">ProxyOrgCode = #{proxyOrgCode},</if>
            <if test="proxyOrgName != null">ProxyOrgName = #{proxyOrgName},</if>
            <if test="myOrgCode != null">MyOrgCode = #{myOrgCode},</if>
            <if test="myOrgName != null">MyOrgName = #{myOrgName},</if>
            <if test="projectArear != null">ProjectArear = #{projectArear},</if>
            <if test="moneyFrom != null">MoneyFrom = #{moneyFrom},</if>
            <if test="projectPriority != null">ProjectPriority = #{projectPriority},</if>
            <if test="startDate != null">StartDate = #{startDate},</if>
            <if test="endDate != null">EndDate = #{endDate},</if>
            <if test="appTime != null">AppTime = #{appTime},</if>
            <if test="appAmount != null">AppAmount = #{appAmount},</if>
            <if test="myAmount != null">MyAmount = #{myAmount},</if>
            <if test="totalAmount != null">TotalAmount = #{totalAmount},</if>
            <if test="projectStatus != null">ProjectStatus = #{projectStatus},</if>
            <if test="projectSummary != null">ProjectSummary = #{projectSummary},</if>
            <if test="keyWords != null">KeyWords = #{keyWords},</if>
            <if test="pdfPath != null">PdfPath = #{pdfPath},</if>
            <if test="centralAmount != null">CentralAmount = #{centralAmount},</if>
            <if test="localAmount != null">LocalAmount = #{localAmount},</if>
            <if test="projecttype3 != null">ProjectType3 = #{projecttype3},</if>
            <if test="projecttype4 != null">ProjectType4 = #{projecttype4},</if>
            <if test="projecttype5 != null">ProjectType5 = #{projecttype5},</if>
        </trim>
        where ProjectId = #{projectId}
    </update>

    <delete id="deleteprojectListById" parameterType="Long">
        delete from project where ProjectId = #{projectId}
    </delete>

    <delete id="deleteprojectListByIds" parameterType="String">
        delete from project where ProjectId in
        <foreach item="projectId" collection="array" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </delete>

</mapper>
