<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cidp.pm.mapper.UnitReviewMapper">

    <resultMap type="UnitReview" id="UnitReviewResult">
        <result property="projectId"    column="ProjectId"    />
        <result property="categoryCode"    column="CategoryCode"    />
        <result property="projectCode"    column="ProjectCode"    />
        <result property="projectName"    column="ProjectName"    />
        <result property="projectYear"    column="ProjectYear"    />
        <result property="userCode"    column="UserCode"    />
        <result property="userName"    column="UserName"    />
        <result property="proxyOrgCode"    column="ProxyOrgCode"    />
        <result property="proxyOrgName"    column="ProxyOrgName"    />
        <result property="myOrgCode"    column="MyOrgCode"    />
        <result property="myOrgName"    column="MyOrgName"    />
        <result property="projectArear"    column="ProjectArear"    />
        <result property="moneyFrom"    column="MoneyFrom"    />
        <result property="projectPriority"    column="ProjectPriority"    />
        <result property="startDate"    column="StartDate"    />
        <result property="endDate"    column="EndDate"    />
        <result property="appTime"    column="AppTime"    />
        <result property="appAmount"    column="AppAmount"    />
        <result property="myAmount"    column="MyAmount"    />
        <result property="totalAmount"    column="TotalAmount"    />
        <result property="projectStatus"    column="ProjectStatus"    />
        <result property="projectSummary"    column="ProjectSummary"    />
        <result property="keywords"    column="KeyWords"    />
        <result property="pdfPath"    column="PdfPath"    />
        <result property="projecttype1"    column="ProjectType1"    />
        <result property="projecttype2"    column="ProjectType2"    />
        <result property="projecttype3"    column="ProjectType3"    />
        <result property="projecttype4"    column="ProjectType4"    />
        <result property="projecttype5"    column="ProjectType5"    />
    </resultMap>

    <sql id="selectUnitReviewVo">
        select ProjectId, CategoryCode, ProjectCode, ProjectName, ProjectYear, UserCode, UserName, ProxyOrgCode, ProxyOrgName, MyOrgCode, MyOrgName, ProjectArear, MoneyFrom, ProjectPriority, StartDate, EndDate, AppTime, AppAmount, MyAmount, TotalAmount, ProjectStatus, ProjectSummary, KeyWords, PdfPath, ProjectType1, ProjectType2, ProjectType3, ProjectType4, ProjectType5 from project
    </sql>

    <select id="selectUnitReviewList" parameterType="UnitReview" resultMap="UnitReviewResult">
        <include refid="selectUnitReviewVo"/>
        <where>
            <if test="projectStatus != null  and projectStatus != ''"> and ProjectStatus = #{projectStatus}</if>
            <if test="categoryCode != null  and categoryCode != ''"> and CategoryCode = #{categoryCode}</if>
        </where>
    </select>

    <select id="selectUnitReviewById" parameterType="Long" resultMap="UnitReviewResult">
        <include refid="selectUnitReviewVo"/>
        where ProjectId = #{projectId}
    </select>

    <insert id="insertUnitReview" parameterType="UnitReview" useGeneratedKeys="true" keyProperty="projectId">
        insert into project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryCode != null">CategoryCode,</if>
            <if test="projectCode != null">ProjectCode,</if>
            <if test="projectName != null">ProjectName,</if>
            <if test="projectYear != null">ProjectYear,</if>
            <if test="userCode != null">UserCode,</if>
            <if test="userName != null">UserName,</if>
            <if test="proxyOrgCode != null">ProxyOrgCode,</if>
            <if test="proxyOrgName != null">ProxyOrgName,</if>
            <if test="myOrgCode != null">MyOrgCode,</if>
            <if test="myOrgName != null">MyOrgName,</if>
            <if test="projectArear != null">ProjectArear,</if>
            <if test="moneyFrom != null">MoneyFrom,</if>
            <if test="projectPriority != null">ProjectPriority,</if>
            <if test="startDate != null">StartDate,</if>
            <if test="endDate != null">EndDate,</if>
            <if test="appTime != null">AppTime,</if>
            <if test="appAmount != null">AppAmount,</if>
            <if test="myAmount != null">MyAmount,</if>
            <if test="totalAmount != null">TotalAmount,</if>
            <if test="projectStatus != null">ProjectStatus,</if>
            <if test="projectSummary != null">ProjectSummary,</if>
            <if test="keywords != null">KeyWords,</if>
            <if test="pdfPath != null">PdfPath,</if>
            <if test="projecttype1 != null">ProjectType1,</if>
            <if test="projecttype2 != null">ProjectType2,</if>
            <if test="projecttype3 != null">ProjectType3,</if>
            <if test="projecttype4 != null">ProjectType4,</if>
            <if test="projecttype5 != null">ProjectType5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryCode != null">#{categoryCode},</if>
            <if test="projectCode != null">#{projectCode},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="projectYear != null">#{projectYear},</if>
            <if test="userCode != null">#{userCode},</if>
            <if test="userName != null">#{userName},</if>
            <if test="proxyOrgCode != null">#{proxyOrgCode},</if>
            <if test="proxyOrgName != null">#{proxyOrgName},</if>
            <if test="myOrgCode != null">#{myOrgCode},</if>
            <if test="myOrgName != null">#{myOrgName},</if>
            <if test="projectArear != null">#{projectArear},</if>
            <if test="moneyFrom != null">#{moneyFrom},</if>
            <if test="projectPriority != null">#{projectPriority},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="appTime != null">#{appTime},</if>
            <if test="appAmount != null">#{appAmount},</if>
            <if test="myAmount != null">#{myAmount},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="projectStatus != null">#{projectStatus},</if>
            <if test="projectSummary != null">#{projectSummary},</if>
            <if test="keywords != null">#{keywords},</if>
            <if test="pdfPath != null">#{pdfPath},</if>
            <if test="projecttype1 != null">#{projecttype1},</if>
            <if test="projecttype2 != null">#{projecttype2},</if>
            <if test="projecttype3 != null">#{projecttype3},</if>
            <if test="projecttype4 != null">#{projecttype4},</if>
            <if test="projecttype5 != null">#{projecttype5},</if>
         </trim>
    </insert>

    <update id="updateUnitReview" parameterType="UnitReview">
        update project
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryCode != null">CategoryCode = #{categoryCode},</if>
            <if test="projectCode != null">ProjectCode = #{projectCode},</if>
            <if test="projectName != null">ProjectName = #{projectName},</if>
            <if test="projectYear != null">ProjectYear = #{projectYear},</if>
            <if test="userCode != null">UserCode = #{userCode},</if>
            <if test="userName != null">UserName = #{userName},</if>
            <if test="proxyOrgCode != null">ProxyOrgCode = #{proxyOrgCode},</if>
            <if test="proxyOrgName != null">ProxyOrgName = #{proxyOrgName},</if>
            <if test="myOrgCode != null">MyOrgCode = #{myOrgCode},</if>
            <if test="myOrgName != null">MyOrgName = #{myOrgName},</if>
            <if test="projectArear != null">ProjectArear = #{projectArear},</if>
            <if test="moneyFrom != null">MoneyFrom = #{moneyFrom},</if>
            <if test="projectPriority != null">ProjectPriority = #{projectPriority},</if>
            <if test="startDate != null">StartDate = #{startDate},</if>
            <if test="endDate != null">EndDate = #{endDate},</if>
            <if test="appTime != null">AppTime = #{appTime},</if>
            <if test="appAmount != null">AppAmount = #{appAmount},</if>
            <if test="myAmount != null">MyAmount = #{myAmount},</if>
            <if test="totalAmount != null">TotalAmount = #{totalAmount},</if>
            <if test="projectStatus != null">ProjectStatus = #{projectStatus},</if>
            <if test="projectSummary != null">ProjectSummary = #{projectSummary},</if>
            <if test="keywords != null">KeyWords = #{keywords},</if>
            <if test="pdfPath != null">PdfPath = #{pdfPath},</if>
            <if test="projecttype1 != null">ProjectType1 = #{projecttype1},</if>
            <if test="projecttype2 != null">ProjectType2 = #{projecttype2},</if>
            <if test="projecttype3 != null">ProjectType3 = #{projecttype3},</if>
            <if test="projecttype4 != null">ProjectType4 = #{projecttype4},</if>
            <if test="projecttype5 != null">ProjectType5 = #{projecttype5},</if>
        </trim>
        where ProjectId = #{projectId}
    </update>

    <delete id="deleteUnitReviewById" parameterType="Long">
        delete from project where ProjectId = #{projectId}
    </delete>

    <delete id="deleteUnitReviewByIds" parameterType="String">
        delete from project where ProjectId in
        <foreach item="projectId" collection="array" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </delete>

    <insert id="insertProjectTask" parameterType="UnitReview" useGeneratedKeys="true" keyProperty="projectId">
        insert into projecttask
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">ProjectId,</if>
            <if test="categoryCode != null">CategoryCode,</if>
            <if test="projectCode != null">ProjectCode,</if>
            <if test="projectName != null">ProjectName,</if>
            <if test="projectYear != null">ProjectYear,</if>
            <if test="userCode != null">UserCode,</if>
            <if test="userName != null">UserName,</if>
            <if test="proxyOrgCode != null">ProxyOrgCode,</if>
            <if test="proxyOrgName != null">ProxyOrgName,</if>
            <if test="myOrgCode != null">MyOrgCode,</if>
            <if test="myOrgName != null">MyOrgName,</if>
            <if test="projectArear != null">ProjectArear,</if>
            <if test="moneyFrom != null">MoneyFrom,</if>
            <if test="projectPriority != null">ProjectPriority,</if>
            <if test="startDate != null">StartDate,</if>
            <if test="endDate != null">EndDate,</if>
            <if test="appTime != null">AppTime,</if>
            <if test="appAmount != null">AppAmount,</if>
            <if test="myAmount != null">MyAmount,</if>
            <if test="totalAmount != null">TotalAmount,</if>
            <if test="projectStatus != null">ProjectStatus,</if>
            <if test="projectSummary != null">ProjectSummary,</if>
            <if test="keywords != null">KeyWords,</if>
            <if test="pdfPath != null">PdfPath,</if>
            <if test="projecttype1 != null">ProjectType1,</if>
            <if test="projecttype2 != null">ProjectType2,</if>
            <if test="projecttype3 != null">ProjectType3,</if>
            <if test="projecttype4 != null">ProjectType4,</if>
            <if test="projecttype5 != null">ProjectType5,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="categoryCode != null">#{categoryCode},</if>
            <if test="projectCode != null">#{projectCode},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="projectYear != null">#{projectYear},</if>
            <if test="userCode != null">#{userCode},</if>
            <if test="userName != null">#{userName},</if>
            <if test="proxyOrgCode != null">#{proxyOrgCode},</if>
            <if test="proxyOrgName != null">#{proxyOrgName},</if>
            <if test="myOrgCode != null">#{myOrgCode},</if>
            <if test="myOrgName != null">#{myOrgName},</if>
            <if test="projectArear != null">#{projectArear},</if>
            <if test="moneyFrom != null">#{moneyFrom},</if>
            <if test="projectPriority != null">#{projectPriority},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="appTime != null">#{appTime},</if>
            <if test="appAmount != null">#{appAmount},</if>
            <if test="myAmount != null">#{myAmount},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="projectStatus != null">#{projectStatus},</if>
            <if test="projectSummary != null">#{projectSummary},</if>
            <if test="keywords != null">#{keywords},</if>
            <if test="pdfPath != null">#{pdfPath},</if>
            <if test="projecttype1 != null">#{projecttype1},</if>
            <if test="projecttype2 != null">#{projecttype2},</if>
            <if test="projecttype3 != null">#{projecttype3},</if>
            <if test="projecttype4 != null">#{projecttype4},</if>
            <if test="projecttype5 != null">#{projecttype5},</if>
        </trim>
    </insert>

    <update id="updateProjectTask" parameterType="UnitReview">
      update projecttask set ProjectStatus = #{projectStatus} where ProjectId = #{projectId}
    </update>

    <delete id="deleteProjectTaskById" parameterType="Long">
        delete from projecttask where ProjectId = #{projectId}
    </delete>

    <insert id="insertProjectConclusionReport" parameterType="UnitReview" useGeneratedKeys="true" keyProperty="projectId">
        insert into projectconclusionreport
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">ProjectId,</if>
            <if test="categoryCode != null">CategoryCode,</if>
            <if test="projectCode != null">ProjectCode,</if>
            <if test="projectName != null">ProjectName,</if>
            <!--<if test="projectYear != null">ProjectYear,</if>-->
            <if test="userCode != null">UserCode,</if>
            <if test="userName != null">UserName,</if>
            <if test="proxyOrgCode != null">ProxyOrgCode,</if>
            <if test="proxyOrgName != null">ProxyOrgName,</if>
            <if test="myOrgCode != null">MyOrgCode,</if>
            <if test="myOrgName != null">MyOrgName,</if>
            <!--<if test="projectArear != null">ProjectArear,</if>-->
            <!--<if test="moneyFrom != null">MoneyFrom,</if>-->
            <!--<if test="projectPriority != null">ProjectPriority,</if>-->
            <!--<if test="startDate != null">StartDate,</if>-->
            <!--<if test="endDate != null">EndDate,</if>-->
            <!--<if test="appTime != null">AppTime,</if>-->
            <!--<if test="appAmount != null">AppAmount,</if>-->
            <!--<if test="myAmount != null">MyAmount,</if>-->
            <!--<if test="totalAmount != null">TotalAmount,</if>-->
            <if test="projectStatus != null">ProjectStatus,</if>
            <!--<if test="projectSummary != null">ProjectSummary,</if>-->
            <!-- <if test="keywords != null">KeyWords,</if>-->
            <if test="pdfPath != null">PdfPath,</if>
            <!--<if test="projecttype1 != null">ProjectType1,</if>-->
            <!--<if test="projecttype2 != null">ProjectType2,</if>-->
            <!--<if test="projecttype3 != null">ProjectType3,</if>-->
            <!--<if test="projecttype4 != null">ProjectType4,</if>-->
            <!--<if test="projecttype5 != null">ProjectType5,</if>-->
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="categoryCode != null">#{categoryCode},</if>
            <if test="projectCode != null">#{projectCode},</if>
            <if test="projectName != null">#{projectName},</if>
            <!--<if test="projectYear != null">#{projectYear},</if>-->
            <if test="userCode != null">#{userCode},</if>
            <if test="userName != null">#{userName},</if>
            <if test="proxyOrgCode != null">#{proxyOrgCode},</if>
            <if test="proxyOrgName != null">#{proxyOrgName},</if>
            <if test="myOrgCode != null">#{myOrgCode},</if>
            <if test="myOrgName != null">#{myOrgName},</if>
            <!--<if test="projectArear != null">#{projectArear},</if>-->
            <!--<if test="moneyFrom != null">#{moneyFrom},</if>-->
            <!--<if test="projectPriority != null">#{projectPriority},</if>-->
            <!--<if test="startDate != null">#{startDate},</if>-->
            <!--<if test="endDate != null">#{endDate},</if>-->
            <!--<if test="appTime != null">#{appTime},</if>-->
            <!--<if test="appAmount != null">#{appAmount},</if>-->
            <!--<if test="myAmount != null">#{myAmount},</if>-->
            <!--<if test="totalAmount != null">#{totalAmount},</if>-->
            <if test="projectStatus != null">#{projectStatus},</if>
            <!--<if test="projectSummary != null">#{projectSummary},</if>-->
            <!--<if test="keywords != null">#{keywords},</if>-->
            <if test="pdfPath != null">#{pdfPath},</if>
            <!--<if test="projecttype1 != null">#{projecttype1},</if>-->
            <!--<if test="projecttype2 != null">#{projecttype2},</if>-->
            <!--<if test="projecttype3 != null">#{projecttype3},</if>-->
            <!--<if test="projecttype4 != null">#{projecttype4},</if>-->
            <!--<if test="projecttype5 != null">#{projecttype5},</if>-->
        </trim>
    </insert>

    <update id="updateProjectConclusionReport" parameterType="UnitReview">
      update projectconclusionreport set ProjectStatus = #{projectStatus} where ProjectId = #{projectId}
    </update>

    <delete id="deleteProjectConclusionReportById" parameterType="Long">
        delete from projectconclusionreport where ProjectId = #{projectId}
    </delete>
</mapper>
